extends layouts/main
include mixins/videoPlayer

block content 
  .videoDetail
    .videoDetail__videoPlayer
      +videoPlayer({
        src:video.fileUrl
      })
    .video__info
      .info__column
        h5.video__title=video.title
        p.video__description=video.description
        div.like__column
          if video.views === 1
            span.video__views views <i class="far fa-eye"></i> 1
          else
            span.video__views views <i class="far fa-eye"></i> #{video.views} 
      .info__column
        .video__author
          .video__author__column
            |Uploaded by 
            a.video__author__creator(href=routes.userDetail(video.creator.id))=video.creator.name
          .video__author__column
            .like-button
              <i class="fas fa-thumbs-up"></i> 0
        .editVideo
          if loggedUser && video.creator.id === loggedUser.id
            a(href=routes.editVideo(video.id)) Edit Video
    .video__comments
      if video.comments.legth === 1
        span.video__comment-number
          |  comment
          span#jsCommentNumber 1
      else
        span.video__comment-number 
          |  comments 
          span#jsCommentNumber=video.comments.length 
      form.add__comment#jsAddComment
        a.video__author__creator(href=routes.userDetail(video.creator.id))=video.creator.name
        input(type="text", placeholder="add a comment...")
      ul.video__comment-list#jsCommentList
        each comment in video.comments.reverse()
            li
              a.video__author__creator(href=routes.userDetail(video.creator.id))=video.creator.name
              span=comment.text


//- .video__player
//-   video(src=`/${video.fileUrl}`)

//- each comment in video.comments.reverse()에서 .reverse()는 array method중 하나로 순서를 뒤집어준다.