extends layouts/main

block content 
  .videoDetail
    .video__player
      video(src=`/${video.fileUrl}`)
    .video__info
      .info__column
        h5.video__title=video.title
        p.video__description=video.description
        div.like__column
          span Views <i class="far fa-eye"></i>
          span.video__views=video.views  
      .info__column
        div
          a(href=routes.editVideo(video.id)) Edit Video