header.header
  .header__column
    a(href=routes.home)
      <i class="fab fa-youtube"></i>YourTube
  .header__column
    form(action=routes.search, method="get")
      input(type="text", placeholder="Search ", name="term")
      button <i class="fas fa-search"></i>
  .header__column
    ul
      if !loggedUser
        li
          a(href=routes.join) <i class="fas fa-user-plus"></i> Join
        li
          a(href=routes.login) <i class="fas fa-sign-in-alt"></i> LogIn
      else 
        li
          a(href=`/videos${routes.upload}`) <i class="fas fa-video"></i> Upload 
        li
          a(href=routes.me) <i class="fas fa-user-circle"></i> Profile
        li
          a(href=routes.logout) <i class="fas fa-sign-out-alt"></i> Log Out  
        li
          a(href="https://github.com/blackswan1989/youtube_clone") <i class="fab fa-github"></i> GitHub


//- isAuthenticated 사용자가 인증(로그인)되었음을 확인해주는 함수
//- if !user.isAuthenticated = "user.isAuthenticated"이 true가 아니라면